<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/bootstrap.min.css"/>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/popper.min.js"></script>
    <script src="../assets/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="all.js"></script>
    <title>
        {% block title %}{% endblock %}
    </title>

    {% block styles %}{% endblock %}

</head>
<body>
    
    
    {% block navs %}{% endblock %}
    


</body>
</html>